<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Usuario</title>
</head>
<body>

<h1>Detalle del Usuario</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${usuario.id_usuario}"></span></p>
    <p><strong>Número documento:</strong> <span th:text="${usuario.numero_documento}"></span></p>
    <p><strong>Nombre:</strong> <span th:text="${usuario.nombre}"></span></p>
    <p><strong>Correo:</strong> <span th:text="${usuario.correo}"></span></p>
    <p><strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span></p>
    <p><strong>Teléfono:</strong> <span th:text="${usuario.telefono}"></span></p>

    <p><strong>Tipo Usuario:</strong> <span th:text="${usuario.tipo_usuario}"></span></p>
    <p><strong>Estado:</strong> <span th:text="${usuario.estado}"></span></p>

    <p><strong>Registrado por:</strong>
        <span th:text="${usuario.registrado_por != null ? usuario.registrado_por.nombre : '---'}"></span>
    </p>

    <hr>

    <!-- SOLO si no es Cliente mostrar estos campos -->
    <div th:if="${usuario.tipo_usuario != 'Cliente'}">
        <p><strong>Nivel Educativo:</strong> <span th:text="${usuario.nivel_educativo}"></span></p>
        <p><strong>Referencia Personal:</strong> <span th:text="${usuario.referencia_personal}"></span></p>
        <p><strong>Teléfono Ref. Personal:</strong> <span th:text="${usuario.telefono_referencia_personal}"></span></p>
        <p><strong>EPS:</strong> <span th:text="${usuario.eps}"></span></p>
    </div>
</div>

<br>
<a th:href="@{/usuarios}">Volver</a>

</body>
</html>
