<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>

<h1>Editar Usuario</h1>

<form th:action="@{/usuarios/actualizar}" method="post" th:object="${usuario}">

    <input type="hidden" th:field="*{id_usuario}">

    <label>Nombre:</label><br>
    <input type="text" th:field="*{nombre}" required><br><br>

    <label>Email:</label><br>
    <input type="email" th:field="*{correo}" required><br><br>

    <label>Contraseña (si quieres cambiarla):</label><br>
    <input type="password" th:field="*{contrasena}"><br><br>

    <button type="submit">Actualizar</button>
</form>

<br>
<a th:href="@{/usuarios}">Volver a la lista</a>

</body>
</html>
